@font-face {
    font-family: Open_Sans;
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
}
.principal{
background-image: url(foto1.png);
background-size: cover;
width: 100%;
height: 650px;
padding-top: 30px;
}
.rotativa{
    position: relative;
    width: 100%;
    margin: 0;
}
.bcomprar{
    width:450px;
    height: 550px;
    background-color: #F2F2F2 ;
    margin-left:55%;
    border-radius: 20px;
}
.comprar{
    width: 50%;
    height: 50px;
    border-right: solid 1px #F2F2F2;
    border-radius: 20px 0px 0px 0px;
    background-color: #813274;
    display: flex;
    flex-direction: row;
}
.comprar img,.renovar img{
    margin-left: 30px;
    margin-top: 5px;
   
}
.comprar p, .renovar p{
    font-family: Open_Sans;
    color :white;
    font-size: 25px;
    background-color: #813274;
    margin-top: 10px;
}
.comprar:hover, .renovar:hover{
    cursor: pointer;
}
.renovar{
    width: 50%;
    height: 50px;
    border-radius: 0px 20px 0px 0px;
    background-color: #813274;
    display: flex;
    flex-direction: row;
}
.botoes{
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 0px 0px;
    background-color: #813274;
}
.precoscomprar,.ecnpj2,.ecpf2,.nfe2,.validade{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-content: center   ;
    flex-direction: row;
    flex-wrap: wrap;
}
.textecpf, .textecnpj, .textnfe{
    width: 80px;
    height: 25px;
    font-family: Open_Sans ;
    color: #813274;
    background-color: #F2F2F2;
    border: solid 1px #813274;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
.arqtxt1,.cartxt1,.kittxt1,.toktxt1{
    width: 80px;
    font-family: Open_Sans ;
    color: #813274;
    background-color: #F2F2F2;
    border: solid 1px #813274;
    text-align: center;
    border-radius: 20px;
    font-size: 12px;
    padding-top: 10px;
    cursor: pointer;
}


.arquivo1:checked ~ .arqtxt1,.cartao1:checked ~ .cartxt1 ,.kit1:checked ~ .kittxt1,.token1:checked ~.toktxt1{
    background-color: #813274;
    color: white;
}

.nfe:checked ~ .textnfe,.ecnpj:checked ~ .textecnpj,.ecpf:checked ~ .textecpf{
    background-color: #813274;
    color: white;
}
input{
    display: none;
}
.cert{
    width: 90%;
    color: #813274;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: Open_Sans;
    font-weight: bold;
    flex-wrap: wrap;
}




/*validade ecpf*/
.val1txt,.val2txt,.val3txt{
    width: 80px;
    font-family: Open_Sans ;
    color: #813274;
    background-color: #F2F2F2;
    border: solid 1px #813274;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}
.val1:checked ~ .val1txt,.val2:checked ~ .val2txt,.val3:checked ~ .val3txt{
    color: white;
    background-color: #813274;
}

/*mensagem */
.mensagem{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.precos{
    width: 50%;
    padding-top: 10%;
    background-color: #F2F2F2;
}
.dep{
    margin-left: 10%;
    font-family: Opens_Sans;
    font-size: 17px;
    color: #813274;
}
.valor{
    margin-left: 10%;
    font-family: Opens_Sans;
    font-size: 35px;
    font-weight:bolder ;
    color: #813274;

}
.parcela{
    margin-left: 10%;
    font-family: Opens_Sans;
    font-size: 15px;
    font-weight:bold ;
    color: #813274;
}
.botao{
    background-color: #813274;
    width: 40%;
    margin-left: 10%;
    height: 30px;
    margin-top: 40%;
    border-radius: 5px 5px 5px  5px ;
    padding-top: 7px;
    text-align: center;
}
    
.botao p{
    font-family: Opens_Sans;
    font-weight: 300;
    font-size: 17px;
    color: white;
    background-color: #813274;
    
}